essentials/plugin-api/api/src/main/resources/instructions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.onehippo.org/essentials/instructions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="instructions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="instructionSet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="file" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="action" use="required"/>
                      <xs:attribute type="xs:string" name="source" use="optional"/>
                      <xs:attribute type="xs:string" name="target" use="optional"/>
                      <xs:attribute type="xs:string" name="overwrite" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="xml" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="action" use="required"/>
                      <xs:attribute type="xs:string" name="source" use="optional"/>
                      <xs:attribute type="xs:string" name="target" use="optional"/>
                      <xs:attribute type="xs:string" name="overwrite" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>